<a class="dropdown-toggle" data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  <li>
  <a data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('XPC')" data-ng-class="{active: currency.symbol == 'XPC'}">XPC</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('mXPC')" data-ng-class="{active: currency.symbol == 'mXPC'}">mXPC</a>
  </li> 
  <li>
  <a data-ng-click="setCurrency('Mocha')" data-ng-class="{active: currency.symbol == 'Mocha'}">Mocha</a>
  </li>
</ul>

